*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-body);
    /* background-image: url(../IMG/panterino-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-attachment: fixed; */
    font-family: serif;
    margin-top: var(--height-nav);
}

body::-webkit-scrollbar{
    display: block;
    width: 10px;
}


/* es la raiz del documento */
:root {
    --height-nav: 60px;
    --color-body: rgb(255, 255, 255);
    --color-nav: rgba(59, 131, 189,.8);
    --color-header: rgba(59, 131, 189, .6);
    --color-letra: rgb(0, 0, 0);
    --footer-articles: rgb(238, 238, 238);
    --size-menu: 1rem;
}


.container-nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    height: var(--height-nav);
    background-color: var(--color-nav);
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 5px 0 rgb(2, 2, 2);
}

.title-pag{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.img-nav{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.menu-items{
    margin-right: 20px;
}

.menu-item{
    padding: 0 20px;
    text-decoration: none;
    color: var(--color-letra);
    font-size: var(--size-menu);
}

.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-width: 710px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    background-color:var(--color-header);
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 5px 0 rgb(2, 2, 2);
    margin-bottom: 20px;
}

.title-header{
    font-size: 50px;
    font-weight: 600;
    font-family: fantasy;
}
@media screen and (max-width: 768px){
    .title-pag{
        margin-left: 10px;
    }

    .menu-item{
        padding: 5px;
    }
}