body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu{
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: flex; /*hace que los hijos se pongon uno a lado de otro*/
    background-color: hsla(220, 100%, 40%, .8);
    width: 135%;
    z-index: 10;
    backdrop-filter: saturate(0%) blur(5px);
    position: fixed;
    top: 0;
}

.submenu{
    display: block;
    position: absolute;
    top: 100%;
    display: none;
}

.submenu .submenu{
    top: 0;
    left: 100%;
}

.menu-item{
    position: relative;
    transition: all .7s;
}

.menu-item:hover > .submenu{
    display: block;
}

.menu-item:hover{
    background-color: rgba(0, 0, 0, .5);
}

.link{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
}

.img-nav{
    width: 45px;
    height: 45px;
    position: fixed;
    right: 20px;
    z-index: 10;

}


.article{
    position: relative;
    top: 60px;
}